*, *:before, *:after {
    box-sizing: border-box;
  }


  html, body {
    height: 100%;
  }
  
  
*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&display=swap');


  
  body{
    background: white;
  }
  a{
    text-decoration: none;
  }
  li{
    list-style: none;
  }

  section {
    clear: both;
  }
  
  /* BUTTONS */
  .btn{
    display: inline-block;
    color: white;
    font-size: 20PX;
    align-items: center;
    margin: 20px;
    padding: .4rem 1rem;
    border-radius: 10px;
    outline: none;
    border: 1px solid #fff;
    background: #666;
    cursor: pointer;
    transition: all .3s ease;
  }

  
  .btn:hover{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
  }
  
  .btn-secondary{
    border: 2px solid white;
    background: transparent;
    padding: .4rem 1rem;
    border-radius: 10;
    font-weight: bolder;
  }
  
  .btn-secondary:hover{
    background-color: transparent;
    color: #fff;
    border: 1px solid #7393B3;
  }
  
  /* HEADER */
  .header{
    background-color: #7393B3;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    color: #fff;
  }

  .navbar {
   float: right;
   color: #f2f2f2;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 17px;
  }

  .navbar ul{
    display: flex;
    float: right;    
    align-items: center;
    padding: 14px 16px;
  }
  .navbar li a{
    margin-left: .5rem;
    color: #fff;
    font-size: calc(.5rem + .5vw);
  }
  
  .header .logo p{
    overflow: hidden;
    font-size: calc(1rem + 1vw);
    float: left;
  }
  
  /* banner */
  #banner{
    background: #152238;
    background-size: cover;
    background-position: center;
    height: 130vh;
    margin: auto;
  }
  .banner-text{
    text-align: left;
    padding-top: 100px;
    height: 500px;
    width: 550px;
    font-family: 'Cinzel', serif;
  }
  
  .banner-text h1{
  font-size: 45px;
  margin: 50px;
  float: none;
  color: white;

  }
  
  .banner-text p{
    font-size: 20px;
    color: white;
    margin: 50px;
    float: left;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 15px;
}

  .container{
    background-color: #b8b9b9;
    margin: 50px;
    padding: 15%;
    float: right;
    text-align: justify;
    height: 500px;
    width: 650px;
    border: 12px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 10px grey;
  }
  
  /* ABOUT SECTION */
  .about{
    float: left;
    background-color: #fff;
    text-align: center;
    padding: 50px;
    margin-left: 50px;
  }

  .about-text span{
    font-size: 20px;
    margin: 50px;
    color: #666;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 1px;
  }

  .about-text h1{
    font-size: 35px;
    color: #152238;
    margin: 50px;
    text-align: justify;
    height: 200px;
    width: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
  }
    
    .about-text p{
      font-size: 20px;
      color: #152238;
      margin: 50px;
      text-align: justify;
      height: 200px;
      width: 350px;
      margin-top: 15px;
      margin-bottom: 15px;
  }
  
  /* GYM CARDS SECTION */
  .gym-cards{
    display: grid;
    float: right;
    grid-template-columns: auto auto;
    padding: 5px;
    align-items: center;
    gap: 3rem;
  }

  .card {
    width: auto;
    height: auto;
    text-align: center;
    box-shadow: 1px 1px 5px grey;

  }
  .card .image {
    width: 150px;
    height: 150px;
    background-color: #7393B3 ;
    margin: auto;
  }
  .card .card-title {
    padding: 1rem 0;
    font-size: 20px;
    text-transform:uppercase;
  }
  .card p{
    font-size: 10px;
    margin: 50px;
    text-align: justify;
    height: 100px;
    width: 350px;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
 /* ARTICLE SECTION */
 .article{
    float: right;
    background-color: #fff;
    text-align: left;
    padding: 50px;
    height: 200px;
    width: 1000px;
  }

  .article span{
    font-size: 20px;
    color: #666;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 1px;
  }

  .article h1{
    font-size: 35px;
    margin: 50px;
    color: #152238;
    margin-top: 15px;
    margin-bottom: 1px;
    word-wrap: normal;
  }

  .article h4{
    font-size: 20px;
    color: #666;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 1px;
  }
    
.article p{
    font-size: 20px;
    color: #152238;
    margin: 50px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  

  .container2{
    background-color: #b8b9b9;
    margin: 50px;
    padding: 15%;
    float: left;
    text-align: center;
    height: 300px;
    width: 350px;
    border: 12px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 10px grey;
  }


  .center{
    margin-top: 500px;
    text-align: center;
    padding: 50px;
  
  }

  .center{
    font-size: 20px;
    color: #152238;
    margin: 50px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .container3{
    background-color: #b8b9b9;
    margin: 50px;
    padding: 15%;
    float: left;
    text-align: center;
    height: 300px;
    width: 350px;
    border: 12px solid white;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    box-shadow: 10px 10px 10px grey;
  }

  .article2{
    float: right;
    background-color: #fff;
    text-align: left;
    padding: 50px;
    height: 200px;
    width: 1000px;
  }

  .article2 span{
    font-size: 20px;
    color: #666;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 1px;
  }

  .article2 h1{
    font-size: 35px;
    margin: 50px;
    color: #152238;
    margin-top: 15px;
    margin-bottom: 1px;
    word-wrap: normal;
  }

    
.article2 p{
    font-size: 20px;
    color: #152238;
    margin: 50px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  


  

.features {
    background-color: peachpuff;
    position: relative; 
    padding-top: 50px;
}
    .features p {
        font-size: 20px;
        color: #152238;
        margin: 50px;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .features h3 {
    padding-top: 50px;
      margin: 0 0 20px 0; }
    .features span.icon {
      font-size: 35px;
      color: #FF5274;
      font-weight: bold; }
    .features .feature-icon {
      display: inline-block;
      vertical-align: top;
      padding: 6px 0 0 0;
      margin-right: 20px;
      width: 35px; }
    .features .feature-content {
      display: inline;
      width: 75%; }
    .features .intro-icon {
      display: inline-block;
      vertical-align: top;
      padding: 6px 0 0 0;
      margin-right: 20px; }
    .features .intro-content {
      display: inline;
      width: 80%; }
    .features ul.features-stack {
      margin-top: 50px; }
    .features ul.features-stack li {
      margin-top: 20px;
      padding-bottom: 20px;
      border-bottom: solid 1px #E6E9EA; }
    .features ul.features-stack li:last-child {
      padding-bottom: 0px;
      border-bottom: none; }

      .features .responsive-feature-img, .features-extra .responsive-feature-img {
        display: none; }

        .features-extra {
            position: relative;
            z-index: 3; }
            .features-extra .btn {
              margin-top: 20px; }
            .features-extra .macbook-wrap {
              position: absolute;
              width: 916px;
              height: 540px;
              background: url("../img/macbook-pro.png") no-repeat center center;
              top: 114px;
              z-index: 4;
              left: 50%; }


              .grid-text{
                margin-top: 50px;
                float: left;
                text-align: left;              
                font-size: 20px;
                color: #152238;
                margin: 50px;
                margin-bottom: 15px;
              }

/*grid*/
.grid-container {
    margin-top: 100px;
    margin-left: -100px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 80px;
    gap: 10px;
    width: 2050px;
    height: 500px;
    background-position: center;
  }

  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }




  /* TESTIMONIALS SECTION */

/* Style the container with a rounded border, grey background and some padding and margin */
    .container4 {
    text-align: center;
    padding: 16px;
    margin: 16px 0;
  }

  .container4 span {
    text-align: center;
    font-size: 20px;
    margin-right: 15px;
  }
  
  .container4::after {
    content: "";
    clear: both;
    display: table;
  }

  .contact{
    background-color: #152238;
    margin-top: 500px;
    float: left;
    padding: 50px;
    width: 100%;
  
  }

  .contact{
    font-size: 20px;
    color: grey;
    margin: 50px;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 15px;
  }

    .contact-btn{
        float: right;
    }
  



    footer#site-footer {
        margin: 20 50;
        width: 2000px;
        padding: 1rem;
        color: #a8a8a8;
    }
    
    footer#site-footer a {
        color: #a8a8a8;
    }
    
    footer#site-footer a:hover {
        color: #00c3ce;
    }
    
    footer#site-footer h1 {
        color: #152238;
    }
    
    footer#site-footer section.horizontal-footer-section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        padding: 2.38rem 2rem;
    }
    
    footer#site-footer section.horizontal-footer-section#footer-top-section {
        justify-content: center;
    }
    
    footer#site-footer #footer-logo {
        margin-right: auto;
        flex-shrink: 0;
    }
    
    footer#site-footer #footer-logo img {
        height: 2.28rem;
    }
    
    footer#site-footer ul#footer-top-menu {
        padding: 0;
        margin: 0;
    }
    
    footer#site-footer ul#footer-top-menu li {
        display: inline;
        list-style-type: none;
        margin-right: 1.32rem;
        font-weight: bold;
    }
    
    footer#site-footer ul#footer-top-menu li a {
        text-decoration: none;
    }
    
    footer#site-footer .footer-top-menu-item-active {
        position: relative;
    }
    
    footer#site-footer .footer-top-menu-item-active a {
        color: #000000;
    }
    
    footer#site-footer .footer-top-menu-item-active a:hover {
        color: #000000;
    }
    
    footer#site-footer .footer-top-menu-item-active::before {
        content: "";
        background: #007ba6;
        padding: 0.15rem 0;
        width: 100%;
        position: absolute;
        top: 1.68em;
    }
    
    footer#site-footer .footer-top-menu-item-active:hover::before {
        background: #00c3ce;
        transition-duration: 0.6s;
    }
    
  
    
    footer#site-footer section.horizontal-footer-section#footer-middle-section {
        align-items: flex-start;
    }
    
    footer#site-footer .footer-columns {
        flex-basis: 100%;
        padding-right: 1rem;
    }
    
    footer#site-footer .footer-columns-large {
        flex-basis: 46%;
        padding-right: 2rem;
    }
    
    footer#site-footer .footer-columns h1 {
        font-size: 1rem;
        margin-top: 0;
        margin-bottom: 1rem;
        font-weight: 800;
    }
    
    footer#site-footer .footer-columns.footer-columns-large h1 {
        font-size: 1.28rem;
        margin-top: 3rem;
        margin-bottom: 1.32rem;
    }
    
    footer#site-footer .footer-columns.footer-columns-large h1:first-child {
        margin-top: 0;
    }
    
    footer#site-footer ul.footer-column-menu {
        margin: 0;
        padding: 0;
    }
    
    footer#site-footer ul.footer-column-menu li {
        list-style-type: none;
        margin-bottom: 0.68rem;
        font-size: 0.88rem;
    }
    
    footer#site-footer #footer-about address {
        font-style: normal;
        font-weight: bold;
    }
    
    footer#site-footer #footer-about address p img {
        margin-right: 0.68rem;
    }
    
    footer#site-footer #footer-about a.footer-button {
        margin-top: 0.32rem;
    }
    
    footer#site-footer section.horizontal-footer-section#footer-bottom-section {
        padding: 1.32rem 0;
        margin: 2rem 2rem 1.32rem 2rem;
        border-top: 0.05rem solid #666666;
    }
    
    footer#site-footer #footer-social-buttons {
        justify-self: flex-end;
        margin-left: auto;
    }
    
    footer#site-footer #footer-social-buttons img {
        margin-left: 0.68rem;
    }
    
    footer#site-footer #footer-social-buttons img:hover {
        cursor: pointer;
    }
    
    
    
    
    
    
    @media screen and (max-width: 959px) {
    
        footer#site-footer {
            width: 100%;
        }
    
        footer#site-footer section.horizontal-footer-section {
            flex-direction: column;
            flex-wrap: wrap;
        }
    
        footer#site-footer section.horizontal-footer-section div {
            flex-basis: 100%;
            width: 100%;
        }
    
        footer#site-footer ul li {
            display: block !important;
            padding: 1em !important;
            border-top: 1px solid #555555;
            border-bottom: none;
            border-left: none;
            border-right: none;
            font-size: 1.15rem !important;
        }
    
        footer#site-footer ul li:first-child {
            border-top: none;
        }
    
        footer#site-footer a.footer-button {
            display: block;
            text-align: center;
            max-width: 350px;
            margin: 0.32rem auto;
        }
    
        footer#site-footer section.horizontal-footer-section#footer-top-section div {
            margin-top: 0;
            margin-bottom: 1.68rem;
        }
    
        footer#site-footer #footer-logo {
            margin-right: 0;
        }
    
        footer#site-footer #footer-buttons-container {
            margin-left: 0;
        }
    
        footer#site-footer ul#footer-top-menu {
            width: 100%;
            margin: 2rem 0 0 0;
        }
    
        footer#site-footer .footer-top-menu-item-active::before {
            display: none;
        }
    
        footer#site-footer #footer-about {
            margin-bottom: 3rem;
        }
    
        footer#site-footer .footer-columns-large,
        footer#site-footer .footer-columns {
            padding-right: 0;
        }
    
        footer#site-footer .footer-columns {
            margin-top: 0;
            margin-bottom: 4rem;
        }
    
        footer#site-footer .footer-columns:last-child {
            margin-bottom: 0;
        }
    
        footer#site-footer .footer-columns h1 {
            text-align: center;
            font-size: 1.3rem;
            text-transform: uppercase;
            letter-spacing: 0.15rem;
        }
    
        footer#site-footer ul.footer-column-menu li {
            margin-bottom: 0;
            display: block;
            text-align: center;
        }
    
        footer#site-footer section#footer-bottom-section div {
            text-align: center;
        }
    
        footer#site-footer section.horizontal-footer-section#footer-bottom-section {
            margin: 1.32rem 0;
            padding: 0;
            border-top: 0;
        }
    
        footer#site-footer section#footer-bottom-section #footer-social-buttons {
            margin-top: 1.32rem;
        }
    }










  /* Add media queries for responsiveness. This will center both the text and the image inside the container */
  @media (max-width: 500px) {
    .container4 {
      text-align: center;
    }
  
    .testimonial container4 img {
      margin: auto;
      float: none;
      display: block;
    }
  }







  
  
  /* MEDIA QUERIES */
  
  @media(max-width :960px){
    .gym-cards{
        flex-direction: column;
    }
    .volunteer{
        padding: 10rem;
    }
  }
  @media(max-width :786px){
    .hero {
        padding: 2rem;
    }
    .hero-title{
        font-size: calc(1.2rem + 2vw);
    }
    .footer-upper{
        flex-direction: column;
    }
    .footer-left{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
    }
  
    .footer-upper .footer-right{
        align-self: flex-start;
    }
    .footer-bottom {
        flex-direction: column;
    }
    .footer-bottom .logo{
        align-self: flex-start;
        padding-top: 1rem;
    }
  }

  
